<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<title>Market Place</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/loader.css"/>
	<link rel="stylesheet" type="text/css" href="3dParty/rs-plugin/css/pi.settings.css"/>
	<link rel="stylesheet" type="text/css" href="css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="css/counters.css"/>
	<link rel="stylesheet" type="text/css" href="css/galleries.css"/>
	<link rel="stylesheet" type="text/css" href="css/images.css"/>
	<link rel="stylesheet" type="text/css" href="css/portfolio.css"/>
	<link rel="stylesheet" type="text/css" href="css/alert-boxes.css"/>
	<link rel="stylesheet" type="text/css" href="css/animations.css"/>
	<link rel="stylesheet" type="text/css" href="3dParty/colorbox/colorbox.css"/>
    <link rel="stylesheet" type="text/css" href="css/selectbox.css" />
    <link rel="stylesheet" href="css/menu-style.css" type="text/css" media="screen"/>    
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic'
		  rel='stylesheet' type='text/css'>
	<!--Fonts with Icons-->
	<link rel="stylesheet" href="3dParty/fontello/css/fontello.css"/>
	<!--[if lte IE 8]>
	<script src="scripts/respond.min.js"></script>
	<![endif]-->

</head>
<body>

<div id="pi-all">

<!-- Header -->
<div class="pi-main-header-w">

<!-- Header row -->
<div class="pi-section-w pi-section-header-w pi-section-dark pi-section-header-sm-w pi-shadow-bottom pi-border-top-light">
		<div class="pi-section pi-section-header pi-section-header-sm pi-clearfix">

		<!-- Menu -->
		<div class="pi-header-block">
			<ul class="pi-menu pi-has-hover-border pi-items-have-borders pi-full-height pi-hidden-xs">
				<!-- Home -->
			<li><a href="#"><span>Home</span></a></li>                
            <li><a href=""><span>How It Works</span></a></li>
            <li><a href=""><span>Contact</span></a></li>
			</ul>
            
		</div>
		<!-- End menu -->
		
		<!-- Search -->
		<div class="pi-header-block pi-pull-right pi-hidden-sm">
			
            
           <a class="btn pi-btn-dark pi-btn-small" href="user-type.html"> <i class="icon-login pi-icon-left"></i> Signup </a>
			<ul id="ldd_menu" class="ldd_menu">
				<li>
					<span class="user-icon"><img src="img/icon-man.png" width="15" height="18" alt="0"  /></span>
					<div class="ldd_submenu">
						<ul>
							<li><a href="#">Settings</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!-- End search -->
		
		<!-- Mobile menu button -->
		<div class="pi-header-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only pi-hidden-sm-only">
			<button class="btn pi-btn pi-btn-dark pi-btn-no-border pi-mobile-menu-toggler"><i class="icon-menu pi-text-center"></i></button>
		</div>
		<!-- End mobile menu button -->
		
		<!-- Mobile menu -->
		<div class="pi-section-menu-mobile-w pi-section-dark">
			<div class="pi-section-menu-mobile">

				<!-- Search form -->
				<form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form">
					<div class="pi-input-with-icon">
						<div class="pi-input-icon"><i class="icon-search-1"></i></div>
						<input type="text" class="form-control pi-input-wide" placeholder="Search..">
					</div>
				</form>
				<!-- End search form -->

				<ul class="pi-menu-mobile pi-menu-mobile-dark">
				<li><a href="#"><span>Home</span></a></li>
				<li><a href="#"><span>Work</span></a></li>
				<li><a href="#"><span>Contact us</span></a></li>
				</ul>

			</div>
		</div>

		<!-- End mobile menu -->

		</div>
	</div>
<!-- End header row -->

<div class="pi-header-row-sticky-w">
<!-- Header row -->
<div class="pi-section-w pi-section-header-w pi-section-white pi-section-header-lg-w pi-header-row-sticky pi-shadow-bottom">
<div class="pi-section pi-section-header pi-section-header-lg pi-clearfix">

<!-- Logo -->
<div class="pi-header-block pi-header-block-logo">
	<a href="index.html"><img src="img/logo-base.png" alt=""></a>
</div>
<!-- End logo -->
<!-- Menu -->
<div class="pi-header-block pi-pull-right">

<div class="pi-header-block pi-pull-right pi-hidden-sm">
			
            
			
<form class="pi-search-form-wide ng-pristine ng-valid pi-text-center pi-margin-bottom-20" style="margin-top:28px;" role="form">
<select name="Items" id="Items" class="form-control form-control-budjet" style="width:165px; height:38px;" >
<option>Browse Categories</option>

    <option>Web Development</option>
    <option>Software Development</option>
    <option>Networking & Info Systems</option>
    <option>Writing & Translation</option>
    <option>Administrative Support</option>
    <option>Design & Multimedia</option>
    <option>Customer Service</option>
    <option>Sales & Marketing</option>
    <option>Business Services</option>
    <option>View All Categories</option>

</select>
<!--
<select name="Items2" id="Items2" class="selectbox2 form-control form-control-budjet" style="width:120px; height:38px;" >
<option>Jobs</option>
<option>Freelancers</option>
</select>-->




	<div class="pi-input-inline" style="margin-right: -7px; width:270px;">
		<input class="form-control pi-input-wide" id="exampleInputSearch" placeholder="e.g. Inspiration" style="border-radius: 3px 0 0 3px; border-right-width: 0; width:100%;" type="text" >
		</div>
	<button type="submit" class="btn pi-btn-base pi-btn-icon-big" style="border-radius: 0 3px 3px 0;"><i class="icon-search"></i></button>
				
</form>
		
		</div>
</div>
<!-- End menu -->

<!-- Mobile menu button -->
<div class="pi-header-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only">
	<button class="btn pi-btn pi-mobile-menu-toggler" data-target="#pi-main-mobile-menu">
		<i class="icon-menu pi-text-center"></i>
	</button>
</div>
<!-- End mobile menu button -->


	<!-- Mobile menu -->
	<div id="pi-main-mobile-menu" class="pi-section-menu-mobile-w pi-section-dark">
		<div class="pi-section-menu-mobile">

			<!-- Search form -->
			<form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form">
				<div class="pi-input-with-icon">
					<div class="pi-input-icon"><i class="icon-search-1"></i></div>
					<input type="text" class="form-control pi-input-wide" placeholder="Search..">
				</div>
			</form>
			<!-- End search form -->

			<ul class="pi-menu-mobile pi-items-have-borders pi-menu-mobile-dark">
				<li class="active"><a href="index.html"><span>Home</span></a></li>
				<li><a href="#"><span>Work</span></a></li>
				<li><a href="#"><span>Contact us</span></a></li>			
			</ul>

		</div>
	</div>
	<!-- End mobile menu -->

</div>
</div>
<!-- End header row -->
</div>

</div>
<!-- End header -->

<div id="page"><!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="tp-banner-container free-bann">
<div class="tp-banner pi-revolution-slider" >
<ul class="">
<!-- SLIDE -->
<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" style="text-align:center; " >
<!-- MAIN IMAGE -->
<img src="img_external/revolution-slider/hero.jpg"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
<!-- LAYERS -->
<!-- LAYER NR. 3 -->
<div class="tp-caption sft str popo-text"
	 data-x="350" data-hoffset="0"
	 data-y="157"
	 data-speed="500"
	 data-start="2400"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 5; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">Find talented freelancers</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption sfl str popo-text2"
	 data-x="350" data-hoffset="0"
	 data-y="236"
	 data-speed="500"
	 data-start="2600"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 6; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
	 Create cute websites fast with us!
</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption sfb str popo-text3"
	 data-x="350" data-hoffset="0"
	 data-y="303"
	 data-speed="500"
	 data-start="2800"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 7;">
	 <a href="" class="btn pi-btn-base">Post A Job!</a>
</div>

</li>	

</ul>
</div>
</div>

<span class="revolution-slider"></span>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->


<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<h1 class="lead-30 pi-text-dark pi-text-center" style="padding:3% 10%; text-transform:uppercase;" >Find talented freelancers ready to...<br/>
<p class="lead-20 pi-text-dark pi-text-center pi-padding-top-20" style="text-transform:none; margin:0;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</h1>
			
<div class="pi-section-w pi-section-white piCaptions" style="padding:5% 7%; background:url(img/noise.png) #609ddb repeat; text-align:center;">		

<a href="dollar.html" class="cat_box"><img src="img/Logos/asp-net-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/android-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/java-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/html5-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/mysql-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/sql-server-2008-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/jquery-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/nhibernate-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/css3-logo.png" alt="0" /><h5>Web Design</h5></a>
<a href="dollar.html" class="cat_box"><img src="img/Logos/umbraco-logo.png" alt="0" /><h5>Web Design</h5></a>

<!--      <div class="section-ico">
          <a href="#">
          <img src="img/service-ico.png" alt="">
          <h5 class="text-blue1">Web Development</h5></a>
      </div>
      
            <div class="section-ico">
          <a href="#"><img src="img/work-ico.png" alt="">
          <h5 class="text-blue2">Web Design</h5></a>
      </div>
      
            <div class="section-ico">
          <a href="#"><img src="img/contact-ico.png" alt="">
          <h5 class="text-blue3">SEO</h5></a>
      </div>
      
            <div class="section-ico">
          <a href="#"><img src="img/service-ico.png" alt="">
          <h5 class="text-blue4">My Works</h5></a>
      </div>
      
            <div class="section-ico">
          <a href="#"><img src="img/service-ico.png" alt="">
          <h5 class="text-blue5">My Works</h5></a>
      </div>-->
      
        <!--    <div class="section-ico">
         <a href="#"><img src="img/service-ico.png" alt="">
          <h5 class="text-blue6">My Works</h5></a>
      </div>-->

      

    

</div>

	<div class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-10">
	
		<!-- Row -->
		<div class="pi-row">
			
			<!-- Col 10 -->
			<div class="pi-col-sm-10 pi-col-sm-offset-1 pi-padding-bottom-60">
				<p class="lead-30 pi-text-dark pi-text-center">
					Nam libero tempore, <span class="pi-text-bg-base">cum soluta</span> nobis est optio cumque nihil impedit quo minus id quod maxime
				</p>
			</div>
			<!-- End col 10 -->
			
		</div>
		<!-- End row -->
		
		<!-- Row -->
		<div class="pi-row">
			
			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #49C0C0;">
						<i class="icon-cog"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">How It Works</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
						</p>
						
						<p>
							<a class="btn pi-btn pi-btn-small" href="#">More Info</a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #537A99;">
						<i class="icon-mobile"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">Money-Back Guarantee</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
						</p>
						
						<p>
							<a class="btn pi-btn pi-btn-small" href="#">More Info</a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #915C96;">
						<i class="icon-search"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">Enterprise Solution</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
						</p>
						
						<p>
							<a class="btn pi-btn pi-btn-small" href="#">More Info</a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->
			

			
		</div>
		<!-- End row -->
		
	</div>
</div>	


<div class="pi-section-w pi-section-parallax" style="background-image: url(img_external/gallery/new-york.jpg);">
	<div class="pi-texture pi-section-overlay-base"></div>
	<div class="pi-section pi-padding-bottom-30">
		
		<!-- Row -->
		<div class="pi-row pi-grid-small-margins pi-text-center">
			
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
				<div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="5" data-easing="easeInCirc" data-duration="1000" data-frames-per-second="0">
					<div class="pi-counter-count pi-counter-count-big pi-text-white pi-weight-300">
					
						<p>
							<i class="icon-briefcase pi-icon pi-icon-big pi-text-white"></i>
						</p>
					
						<div class="pi-counter-number">5</div>

					</div>
					<p style="color:#000;">Sed ut perspic unde</p>
				</div>
			</div>
			<!-- End col 3 -->
			
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
				<div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="26" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
					<div class="pi-counter-count pi-counter-count-big pi-text-white pi-weight-300">

						<p>
							<i class="icon-globe pi-icon pi-icon-big pi-text-white"></i>
						</p>

						$<span class="pi-counter-number">26</span>

					</div>
					<p style="color:#000;">Deserunt mollitia animi</p>
				</div>
			</div>
			<!-- End col 3 -->
			
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
				<div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="73" data-easing="easeInCirc" data-duration="3000" data-frames-per-second="10">
					<div class="pi-counter-count pi-counter-count-big pi-text-white pi-weight-300">
					
						<p>
							<i class="icon-download pi-icon pi-icon-big pi-text-white"></i>
						</p>
					
						<span class="pi-counter-number">73</span>%

					</div>
					<p style="color:#000;">Temporibus autem</p>
				</div>
			</div>
			<!-- End col 3 -->
			
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
				<div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="59" data-easing="easeInCirc" data-duration="4000" data-frames-per-second="10">
					<div class="pi-counter-count pi-counter-count-big pi-text-white pi-weight-300">
					
						<p>
							<i class="icon-paper-plane pi-icon pi-icon-big pi-text-white"></i>
						</p>
					
						<span class="pi-counter-number">59</span>k

					</div>
					<p style="color:#000;">Similique sunt in culpa</p>
				</div>
			</div>
			<!-- End col 3 -->
			
		</div>
		<!-- End row -->
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - --></div>

<!-- Footer -->
<!-- Widget area -->
<div class="pi-section-w pi-border-bottom pi-border-top-light pi-section-dark">
	<div class="pi-section pi-padding-bottom-10">

		<!-- Row -->
		<div class="pi-row">

			<!-- Col 4 -->
			<div class="pi-col-md-4 pi-padding-bottom-30">

				<h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
					<a href="#" class="pi-link-no-style">Latest Tweet</a>
				</h6>

				<!-- Twitter -->
				<div id="pi-footer-tweets">
                <ul class="pi-bullets-circle pi-bullets-base pi-bullets pi-list-big-margins">
                <li><span class="pi-bullet-icon">
                <i class="icon-twitter"></i></span><a href="" target="_blank" title="Carbon51 on Twitter">@Carbon51</a> Meet Aura 1.6 version. A lot of new things are coming soon. <br><span class="pi-smaller-text pi-italic pi-text-opacity-50">Jun. 29, 2014</span></li>
                <li><span class="pi-bullet-icon"><i class="icon-twitter"></i></span><a href="" target="_blank" title="Carbon51 on Twitter">@Carbon51</a> Hey, this is Carbon51 Twitter account! <br><span class="pi-smaller-text pi-italic pi-text-opacity-50">Jun. 29, 2014</span></li></ul></div>
				<!-- End twitter -->

			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-hidden-lg-only pi-hidden-md-only"></div>

			<!-- Col 4 -->
			<div class="pi-col-md-4 pi-col-sm-6 pi-padding-bottom-30" style="background-image: url('img/map-base.png'); background-position: 50% 55px; background-repeat: no-repeat;">

				<h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
					Contact Us
				</h6>

				<!-- Contact info -->
				<ul class="pi-list-with-icons pi-list-big-margins">

					<li>
						<span class="pi-bullet-icon"><i class="icon-location"></i></span>
						<strong>Address:</strong> BDBL Bhaban, 12 (6th floor)<br/>Kawran Bazaar, Dhaka, Bangladesh. 
					</li>

					<li>
						<span class="pi-bullet-icon"><i class="icon-phone"></i></span>
						<strong>Phone:</strong> 01713493282, 01713493299<br/>
01713493278, 01856991018
					</li>

					<li>
						<span class="pi-bullet-icon"><i class="icon-mail"></i></span>
						<strong>Email:</strong> <a href="mailto:info@djit.ac">info@djit.ac </a>
					</li>

					<li>
						<span class="pi-bullet-icon"><i class="icon-clock"></i></span>
						Monday - Friday: <strong>9:00 am - 10:00 pm</strong>
						<br>
						Saturday - Sunday: <strong>Closed</strong>
					</li>

				</ul>
				<!-- End contact info -->

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-md-4 pi-col-sm-6 pi-padding-bottom-30">

				<h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
					Say Hey
				</h6>

				<!-- Contact form -->
				<form role="form" action="handlers/formFooter.php" class="pi-footer-form">
					<div class="pi-error-container"></div>
					<div class="pi-row pi-grid-small-margins">
						<div class="pi-col-2xs-6">
							<div class="form-group">
								<div class="pi-input-with-icon">
									<div class="pi-input-icon"><i class="icon-user"></i></div>
									<input class="form-control form-control-name" id="exampleInputName"
										   placeholder="Name">
								</div>
							</div>
						</div>
						<div class="pi-col-2xs-6">
							<div class="form-group">
								<div class="pi-input-with-icon">
									<div class="pi-input-icon"><i class="icon-mail"></i></div>
									<input type="email" class="form-control form-control-email" id="exampleInputEmail"
										   placeholder="Email">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-pencil"></i></div>
							<textarea class="form-control form-control-comments" id="exampleInputMessage"
									  placeholder="Message"
									  rows="3"></textarea>
						</div>
					</div>
					<p>
						<button type="submit" class="btn pi-btn-base pi-btn-no-border">Send</button>
					</p>
				</form>
				<!-- End contact form -->

			</div>
			<!-- End col 4 -->

		</div>
		<!-- End row -->

	</div>
</div>
<!-- End widget area -->

<!-- Copyright area -->
<div class="pi-section-w pi-section-header-w pi-section-dark pi-border-top-light pi-border-bottom-strong-base pi-section-header-lg-w">
	<div class="pi-section pi-section-header pi-section-header-lg pi-center-text-2xs pi-clearfix">

		<!-- Social icons -->
		<div class="pi-header-block pi-pull-right pi-hidden-2xs">
			<ul class="pi-social-icons-simple pi-small clearFix">
				<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
				<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
				<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
				<li><a href="#" class="pi-social-icon-tumblr"><i class="icon-tumblr"></i></a></li>
				<li><a href="#" class="pi-social-icon-vimeo"><i class="icon-vimeo"></i></a></li>
				<li><a href="#" class="pi-social-icon-rss"><i class="icon-rss"></i></a></li>
			</ul>
		</div>
		<!-- End social icons -->

		<!-- Footer logo -->
		<div class="pi-header-block pi-header-block-logo pi-header-block-bordered"><a href="#"><img src="img/logo-opacity-dark.png" alt=""></a></div>
		<!-- End footer logo -->

		<!-- Text -->
		<span class="pi-header-block pi-header-block-txt pi-hidden-xs">&copy; 2014. &laquo;<a href="http://www.carbon51.com/" target="_blank" > Carbon51.com </a>&raquo;.
			All right reserved.
		</span>
		<!-- End text -->

	</div>
</div>
<!-- End copyright area -->
<!-- End footer -->

</div>
<div class="pi-scroll-top-arrow" data-scroll-to="0"></div>

<script src="3dParty/jquery-1.11.0.min.js"></script>
<script src="scripts/pi.easings.js"></script>
<script src="scripts/pi.helpers.js"></script>
<script src="scripts/pi.boundManager.js"></script>
<script src="3dParty/inview.js"></script>
<script src="scripts/pi.imagesLoader.js"></script>
<script src="scripts/pi.columnFix.js"></script>
<script src="scripts/pi.init.caption.js"></script>
<script src="scripts/pi.slider.js"></script>
<script src="scripts/pi.init.slider.js"></script>
<script src="3dParty/gauge.min.js"></script>
<script src="scripts/pi.counter.js"></script>
<script src="scripts/pi.init.counter.js"></script>
<script src="scripts/pi.parallax.js"></script>
<script src="scripts/pi.init.parallax.js"></script>
<script src="3dParty/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script src="3dParty/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/pi.init.revolutionSlider.js"></script>
<script src="scripts/pi.init.social.js"></script>
<script src="scripts/pi.ddMenu.js"></script>
<script src="scripts/pi.init.removeLastElMargin.js"></script>
<script src="scripts/pi.fixedHeader.js"></script>
<script src="scripts/pi.mobileMenu.js"></script>
<script src="scripts/pi.init.submitFormFooter.js"></script>
<script src="scripts/pi.detectTransition.js"></script>
<script src="scripts/pi.alert.js"></script>
<script src="scripts/pi.init.formsBlurClasses.js"></script>
<script src="scripts/pi.init.placeholder.js"></script>
<script src="3dParty/colorbox/jquery.colorbox-min.js"></script>
<script src="scripts/pi.init.colorbox.js"></script>
<script src="3dParty/jquery.easing.1.3.js"></script>
<script src="3dParty/jquery.scrollTo.min.js"></script>
<script src="scripts/pi.init.jqueryScrollTo.js"></script>
<script src="scripts/pi.scrollTopArrow.js"></script>
<script type="text/javascript" src="3dParty/jquery.selectbox-0.5.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#Items').selectbox();
		$('#Items2').selectbox();
	});
</script>
<script type="text/javascript">
	$(function() {
		var $menu = $('#ldd_menu');				
		$menu.children('li').each(function(){
			var $this = $(this);
			var $span = $this.children('span');
			$span.data('width',$span.width());
			
			$this.bind('mouseenter',function(){
				$menu.find('.ldd_submenu').stop(true,true).hide();
				$span.stop().animate({'width':'auto'},300,function(){
					$this.find('.ldd_submenu').slideDown(300);
				});
			}).bind('mouseleave',function(){
				$this.find('.ldd_submenu').stop(true,true).slideUp();
				$span.stop().animate({'width':$span.data('width')+'px'},300);
			});
		});
	});
</script>
</body>
</html>