<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<title>Profile Page</title>

	<link rel="shortcut icon" href="/favicon.ico">

	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/loader.css"/>
	<link rel="stylesheet" type="text/css" href="css/counters.css"/>
	<link rel="stylesheet" type="text/css" href="css/shadows.css"/>
	<link rel="stylesheet" type="text/css" href="css/testimonials.css"/>
	<link rel="stylesheet" type="text/css" href="css/accordion.css"/>
	<link rel="stylesheet" type="text/css" href="css/tooltips.css"/>
	<link rel="stylesheet" type="text/css" href="css/galleries.css"/>
	<link rel="stylesheet" type="text/css" href="css/tabs.css"/>
    <link rel="stylesheet" type="text/css" href="css/tables.css"/>
	<link rel="stylesheet" type="text/css" href="css/dropcaps.css"/>
	<link rel="stylesheet" type="text/css" href="css/images.css"/>
	<link rel="stylesheet" type="text/css" href="css/portfolio.css"/>
	<link rel="stylesheet" type="text/css" href="css/alert-boxes.css"/>
	<link rel="stylesheet" type="text/css" href="css/animations.css"/>
	<link rel="stylesheet" type="text/css" href="3dParty/colorbox/colorbox.css"/>
	<link rel="stylesheet" type="text/css" href="css/selectbox.css" />
<link rel="stylesheet" href="css/menu-style.css" type="text/css" media="screen"/>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic'
		  rel='stylesheet' type='text/css'>

	<!--Fonts with Icons-->
	<link rel="stylesheet" href="3dParty/fontello/css/fontello.css"/>

	<!--[if lte IE 8]>
	<script src="scripts/respond.min.js"></script>
	<![endif]-->

<script type="text/javascript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
    </script>
</head>
<body>

<div id="pi-all">

<!-- Header -->
<div class="pi-main-header-w">

<!-- Header row -->
<div class="pi-section-w pi-section-header-w pi-section-dark pi-section-header-sm-w pi-shadow-bottom pi-border-top-light">
		<div class="pi-section pi-section-header pi-section-header-sm pi-clearfix">

		<!-- Menu -->
		<div class="pi-header-block">
			<ul class="pi-menu pi-has-hover-border pi-items-have-borders pi-full-height pi-hidden-xs">
				<!-- Home -->
			<li><a href="#"><span>Home</span></a></li>                
            <li><a href=""><span>How It Works</span></a></li>
            <li><a href=""><span>Contact</span></a></li>
			</ul>
            
		</div>
		<!-- End menu -->
		
		<!-- Search -->
		<div class="pi-header-block pi-pull-right pi-hidden-sm">
			
            <a class="btn pi-btn-dark pi-btn-small" href="sign-in.html"> <i class="icon-login pi-icon-left"></i> Login </a>
           <a class="btn pi-btn-dark pi-btn-small" href="user-type.html"> <i class="icon-login pi-icon-left"></i> Signup </a>
			
		</div>
		<!-- End search -->
		
		<!-- Mobile menu button -->
		<div class="pi-header-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only pi-hidden-sm-only">
			<button class="btn pi-btn pi-btn-dark pi-btn-no-border pi-mobile-menu-toggler"><i class="icon-menu pi-text-center"></i></button>
		</div>
		<!-- End mobile menu button -->
		
		<!-- Mobile menu -->
		<div class="pi-section-menu-mobile-w pi-section-dark">
			<div class="pi-section-menu-mobile">

				<!-- Search form -->
				<form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form">
					<div class="pi-input-with-icon">
						<div class="pi-input-icon"><i class="icon-search-1"></i></div>
						<input type="text" class="form-control pi-input-wide" placeholder="Search..">
					</div>
				</form>
				<!-- End search form -->

				<ul class="pi-menu-mobile pi-menu-mobile-dark">
				<li><a href="#"><span>Home</span></a></li>
				<li><a href="#"><span>Work</span></a></li>
				<li><a href="#"><span>Contact us</span></a></li>
				</ul>

			</div>
		</div>

		<!-- End mobile menu -->

		</div>
	</div>
<!-- End header row -->

<div class="pi-header-row-sticky-w">
<!-- Header row -->
<div class="pi-section-w pi-section-header-w pi-section-white pi-section-header-lg-w pi-header-row-sticky pi-shadow-bottom">
<div class="pi-section pi-section-header pi-section-header-lg pi-clearfix">

<!-- Logo -->
<div class="pi-header-block pi-header-block-logo">
	<a href="index.html"><img src="img/logo-base.png" alt=""></a>
</div>
<!-- End logo -->
<!-- Menu -->
<div class="pi-header-block pi-pull-right">

<div class="pi-header-block pi-pull-right pi-hidden-sm">
			
            
			
<form class="pi-search-form-wide ng-pristine ng-valid pi-text-center pi-margin-bottom-20" style="margin-top:28px;" role="form">
<select name="Items" id="Items" class="form-control form-control-budjet" style="width:165px; height:38px;" >
<option>Browse Categories</option>

    <option>Web Development</option>
    <option>Software Development</option>
    <option>Networking & Info Systems</option>
    <option>Writing & Translation</option>
    <option>Administrative Support</option>
    <option>Design & Multimedia</option>
    <option>Customer Service</option>
    <option>Sales & Marketing</option>
    <option>Business Services</option>
    <option>View All Categories</option>

</select>


	<div class="pi-input-inline" style="margin-right: -7px; width:270px;">
		<input class="form-control pi-input-wide" id="exampleInputSearch" placeholder="e.g. Inspiration" style="border-radius: 3px 0 0 3px; border-right-width: 0; width:100%;" type="text" >
		</div>
	<button type="submit" class="btn pi-btn-base pi-btn-icon-big" style="border-radius: 0 3px 3px 0;"><i class="icon-search"></i></button>
				
</form>
		
		</div>
</div>
<!-- End menu -->

<!-- Mobile menu button -->
<div class="pi-header-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only">
	<button class="btn pi-btn pi-mobile-menu-toggler" data-target="#pi-main-mobile-menu">
		<i class="icon-menu pi-text-center"></i>
	</button>
</div>
<!-- End mobile menu button -->


	<!-- Mobile menu -->
	<div id="pi-main-mobile-menu" class="pi-section-menu-mobile-w pi-section-dark">
		<div class="pi-section-menu-mobile">

			<!-- Search form -->
			<form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form">
				<div class="pi-input-with-icon">
					<div class="pi-input-icon"><i class="icon-search-1"></i></div>
					<input type="text" class="form-control pi-input-wide" placeholder="Search..">
				</div>
			</form>
			<!-- End search form -->

			<ul class="pi-menu-mobile pi-items-have-borders pi-menu-mobile-dark">
				<li class="active"><a href="index.html"><span>Home</span></a></li>
				<li><a href="#"><span>Work</span></a></li>
				<li><a href="#"><span>Contact us</span></a></li>			
			</ul>

		</div>
	</div>
	<!-- End mobile menu -->

</div>
</div>
<!-- End header row -->
</div>

</div>
<!-- End header -->

<div id="page"><!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-parallax piCounter piTabs piTooltips" style="background:url(img/hexagon-2.png) repeat;">
	<div class="pi-texture" style="background:rgba(108, 188, 3, 0.75);"></div>
	<div class="pi-section pi-padding-top-30 pi-padding-bottom-20 pi-text-center">
		<h2 class="h1 pi-text-shadow pi-has-border pi-has-tall-border pi-has-base-border pi-has-short-border" style="font-size:60px;">
			<span style="color:#21252b;">Kesar</span> Sisodiya
		</h2>
		
		<p class="lead-18 pi-weight-300 pi-margin-bottom-25 pi-p-half" style="color:#000;">
			Sr. Wordpress/HTML5/Responsive/Bootstrap/Parallax Website Developer
		</p>
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<!-- Breadcrumbs -->
<div class="pi-section-w pi-border-bottom pi-section-grey">
	<div class="pi-section pi-titlebar pi-breadcrumb-only">
		<div class="pi-breadcrumb">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">User Type</a></li>
				<li>User Name</li>
			</ul>
		</div>
	</div>
</div>
<!-- End breadcrumbs -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white pi-slider-enabled piSocials">
	<div class="pi-section pi-padding-bottom-30">
		
		<!-- Openings -->
		<div class="pi-tabs-vertical pi-responsive-sm">
			<ul class="pi-tabs-navigation pi-tabs-navigation-transparent profile-po" id="myTabs">
<!--				<li class="pi-active"><a href="#overview">Overview</a></li>
				<li><a href="#jobhistory">Job History</a></li>
                <li><a href="#teststaken">Tests Taken</a></li>
                <li><a href="#education">Education</a></li>  
				<li><a href="#works">Works</a></li>
				<li><a href="#clients">Clients</a></li>
                <li><a href="#certification">Certification</a></li>-->
          <li>
      <span class="snapshot pi-no-margin">
        <table class="pi-table pi-table-complex pi-table-hovered pi-round pi-table-shadow pi-table-all-borders">
        <tbody>
          <tr><td class="pi-active"><i>MY SNAPSHOT <br/><span>12 Months &brvbar; Lifetime</span></i>
          <img src="img/DJITVerified.png" align="right" width="75" alt="0" />
          <!--<img src="img/not-verified.png" align="right" width="75" alt="0" />-->
          </td></tr>
          <tr>
            <td>
            <span class="part1">Jobs</span>
            <span class="part2">
            <b>100</b><i>Total</i>
            <b>81</b><i>Milestones</i>
            <b>180</b><i>Hours</i>
            </span></td>
          </tr>
          <tr>
           <td>
            <span class="part1">Reviews</span>
            <span class="part2">
            <b>5.0</b><i><span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    </i>
            <b>100%</b><i>Recommend</i>
            </span></td>
          </tr>
          <tr>
           <td>
            <span class="part1">Clients</span>
            <span class="part2">
            <b>15</b><i>Total</i>
            <b>34%</b><i>Repeat</i>
            </span></td>
          </tr>
         <tr>
           <td>
            <span class="part1">Earnings</span>
            <span class="part2">
            <b>$35,624</b><i>Total</i>
            </span></td>
          </tr>
        </tbody>
        </table>

                </span>
                </li>
			</ul>
			<div class="pi-tabs-content pi-tabs-content-transparent">
				
				<!-- Tab content -->
				<div class="pi-tab-pane pi-active" id="overview">
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25 pi-has-bg">Overview</h3>
					
                    <div class="pi-img-w pi-img-round-corners profile-img pi-img-shadow pi-img-left pi-margin-top-5" style="width:150px; overflow:hidden;">
						<img src="img_external/gallery/img-31.jpg" alt=""/>
                   <span class="cam">Change Picture</span>
				  </div>
                  
					<p>I am a Web Designer & Front End Developer. Over the last 2 years, I have developed a wide range of websites, I have a passion for creating stylish & creative web and Graphic design solutions to help you promote your business successfully.</p>
					<ul class="oInlineListExt" style="margin:0px;">
                    <li><i class="icon-home"></i><strong> KENYA</strong></li> 
                    <li><strong>$11.11</strong> HOURLY RATE</li>
                    <li><span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <b>5.0</b>                      
                    </li>
                    <li><strong>1204</strong> HOURS</li>         
                    <li><strong>4</strong> TESTS</li>
                </ul>
                <ul class="cat-link clearFix">
						<li><a href="#" class="">Web Design</a></li>
						<li><a href="#" class="">HTML5</a></li>
						<li><a href="#" class="">CSS3</a></li>
                        <li><a href="#" class="">Web Design</a></li>
						<li><a href="#" class="">HTML5</a></li>
						<li><a href="#" class="">CSS3</a></li>
                        <li><a href="#" class="">Web Design</a></li>
						<li><a href="#" class="">HTML5</a></li>
						<li><a href="#" class="">CSS3</a></li>                     
					</ul>
					<div style="clear:both;"></div>

					
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">Objectives list : 
                    <ul id="ldd_menu" class="ldd_menu">
                    <li>
                        <span class="setting-icon"><img src="img/setting-icon.png" width="16" height="16" alt="0"  /></span>
                        <div class="ldd_submenu" style="top:23px;">
                            <ul>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    </ul>
                    
                    </h3>
					<div class="pi-row">
						<div class="pi-col-sm-6">
							<ul class="pi-bullets-square pi-bullets-contur pi-bullets">
								<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>WordPress</li>
								<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>HTML5 / CSS3</li>
								<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>Adobe Photoshop CS5, CS6 </li>
                                <li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>Adobe Illustrator CS5, CS6 </li>
							</ul>
						</div>
						<div class="pi-col-sm-6">
							<ul class="pi-bullets-square pi-bullets-contur pi-bullets">
								<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>Adobe Dreamweaver CS5, CS6 </li>
								<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>Responsive Website </li>
								<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>Bootstrap </li>
								<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>Parallax Website </li>
							</ul>
						</div>
					</div>
					
					<hr class="pi-divider-gap-50">					

					<div class="pi-row">
						<div class="pi-col-sm-6 pi-padding-bottom-20">
                        <h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">Contact Information : </h3>
							<div class="pi-responsive-table-sm">
			<table class="pi-table pi-table-complex pi-table-hovered pi-round pi-table-shadow pi-table-all-borders">
				<tbody>
				
					<tr>
						<td>Country</td>
						<td>Bangladesh</td>
					</tr>
                    
                    <tr>
						<td>Address</td>
						<td>Bangladesh</td>
					</tr>
                    
                    <tr>
						<td>Address 2</td>
						<td>Bangladesh</td>
					</tr>
                    
                    <tr>
						<td>City</td>
						<td>Bangladesh</td>
					</tr>
                    
                    <tr>
						<td>State/Province</td>
						<td>Bangladesh</td>
					</tr>
                    
                     <tr>
						<td>Zip/Postal Code</td>
						<td>Bangladesh</td>
					</tr>
                    
                    <tr>
						<td>Profile to PDF</td>
						<td><a class="btn pi-btn-green pi-btn-small" href="#"><i class="icon-download pi-icon-left"></i>Download</a></td>
					</tr>

					
				</tbody>
				<!-- End table body -->
				
			</table>
		</div>
						</div>
                        
            <div class="pi-col-sm-6 pi-padding-bottom-20">

				<h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">We Are Good At</h2>

				<!-- Progress bar -->
				<div class="pi-counter pi-counter-round pi-counter-line" data-counter-type="line" data-count-from="0" data-count-to="85" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
					
					<p class="pi-counter-label">System design 85%</p>
					
					<div class="pi-counter-count">
						<div class="pi-counter-progress pi-bar-one"></div>
					</div>
					
				</div>
				<!-- End progress bar -->
				
				<!-- Progress bar -->
				<div class="pi-counter pi-counter-round pi-counter-line pi-slave-2" data-counter-type="line" data-count-from="0" data-count-to="25" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
					
					<p class="pi-counter-label">Data analysis 25%</p>
					
					<div class="pi-counter-count">
						<div class="pi-counter-progress pi-bar-two"></div>
					</div>
					
				</div>
				<!-- End progress bar -->
				
				<!-- Progress bar -->
				<div class="pi-counter pi-counter-round pi-counter-line pi-slave" data-counter-type="line" data-count-from="0" data-count-to="98" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
					
					<p class="pi-counter-label">Link-level analysis 98%</p>
					
					<div class="pi-counter-count">
						<div class="pi-counter-progress pi-bar-three"></div>
					</div>
					
				</div>
				<!-- End progress bar -->
				
				<!-- Progress bar -->
				<div class="pi-counter pi-counter-round pi-counter-line pi-slave" data-counter-type="line" data-count-from="0" data-count-to="85" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
					
					<p class="pi-counter-label">Coverage modelling 85%</p>
					
					<div class="pi-counter-count">
						<div class="pi-counter-progress pi-bar-four"></div>
					</div>
					
				</div>
				<!-- End progress bar -->

<div class="pi-counter pi-counter-round pi-counter-line pi-slave" data-counter-type="line" data-count-from="0" data-count-to="100" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
					
					<p class="pi-counter-label">Coverage 100%</p>
					
					<div class="pi-counter-count">
						<div class="pi-counter-progress pi-bar-four"></div>
					</div>
					
				</div>
			</div>
	
					</div>
					
                    
                    
				</div>
				<!-- End tab content -->
				
				<!-- Tab content -->
				<div class="pi-tab-pane" id="teststaken">
					
					<div class="pi-row">
						<div class="pi-col-sm-12">
							<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25 pi-has-bg">
								Vision
							</h3>
							
							<p>
								<span class="pi-dropcap">R</span>eritatis et quasi architecto beatae explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur perspiciatis unde omnis voluptatem quia voluptas sit aspernatur iste quasi architecto beatae explicabo natus error sit voluptatem accusantium.
							</p>
						</div>
						
					</div>
					
					<hr class="pi-divider-gap-40">
					

					<div class="pi-row">
						
						<!-- Value item -->
						<div class="pi-col-sm-12">
							<div class="pi-icon-box">

					
						<!-- End value item -->
						

				<h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30 pi-margin-top-minus-5">Tests Taken</h2>

				<div class="pi-counter pi-counter-line" data-counter-type="line" data-count-from="0" data-count-to="65" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
					<div class="pi-counter-count">
						<p><i class="icon-pencil pi-icon-left"></i>Adobe Illustrator CS3 Test 65%</p>
						<div style="width:100%;" class="pi-counter-progress pi-bar-one"></div>
					</div>
				</div>			

				<div class="pi-counter pi-counter-line" data-counter-type="line" data-count-from="0" data-count-to="54" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">

					<div class="pi-counter-count">
						<p><i class="icon-pencil pi-icon-left"></i>Adobe Illustrator CS5 Extended Test 54%</p>
						<div style="width:100%;" class="pi-counter-progress pi-bar-two"></div>
					</div>

				</div>		

				<div class="pi-counter pi-counter-line pi-slave" data-counter-type="line" data-count-from="0" data-count-to="91" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">

					<div class="pi-counter-count">
						<p><i class="icon-pencil pi-icon-left"></i>Adobe Photoshop CS5 Extended Test 91%</p>
						<div style="width:100%;" class="pi-counter-progress pi-bar-three"></div>
					</div>

				</div>
				
				<div class="pi-counter pi-counter-line pi-slave-2" data-counter-type="line" data-count-from="0" data-count-to="25" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">

					<div class="pi-counter-count">
						<p><i class="icon-pencil pi-icon-left"></i>HTML5 Test 25%</p>
						<div style="width:100%;" class="pi-counter-progress pi-bar-four"></div>
					</div>

				</div>
                
                <div class="pi-counter pi-counter-line pi-slave" data-counter-type="line" data-count-from="0" data-count-to="100" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">

					<div class="pi-counter-count">
						<p><i class="icon-pencil pi-icon-left"></i>Readiness Test 100%</p>
						<div style="width:100%;" class="pi-counter-progress pi-bar-four"></div>
					</div>

				</div>
				

					</div>
						</div>
					</div>
					<!-- End values -->
					

					
					<hr class="pi-divider-gap-30">
					
					<p>
						Amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
					</p>
					
				</div>
				<!-- End tab content -->
								
				<!-- Tab content -->
				<div class="pi-tab-pane" id="works">
					
							
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25 pi-has-bg">
						Some Works
					</h3>
					
					<p>
						<span class="pi-dropcap">Q</span>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur perspiciatis unde omnis iste natus error sit voluptatem accusantium.
					</p>
					
					<hr class="pi-divider-gap-20">
					
					<!-- Photo gallery -->
					<div class="pi-row pi-liquid-col-sm-3 pi-liquid-col-xs-2 pi-gallery pi-stacked">

						<!-- Photo gallery item -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-img-hover-zoom">
								<img src="img_external/gallery/img-20.jpg" alt="">
								<div class="pi-img-overlay pi-img-overlay-dark">
									<div class="pi-caption-centered">
									<div>
										<a href="img_external/gallery/selecting-pencil.jpg" class="pi-colorbox"><span class="pi-caption-icon pi-caption-scale icon-eye"></span></a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End photo gallery item -->
						
						<!-- Photo gallery item -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-img-hover-zoom">
								<img src="img_external/gallery/img-21.jpg" alt="">
								<div class="pi-img-overlay pi-img-overlay-dark">
									<div class="pi-caption-centered">
									<div>
										<a href="img_external/gallery/selecting-pencil.jpg" class="pi-colorbox"><span class="pi-caption-icon pi-caption-scale icon-eye"></span></a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End photo gallery item -->
						
						<!-- Photo gallery item -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-img-hover-zoom">
								<img src="img_external/gallery/img-22.jpg" alt="">
								<div class="pi-img-overlay pi-img-overlay-dark">
									<div class="pi-caption-centered">
									<div>
										<a href="img_external/gallery/selecting-pencil.jpg" class="pi-colorbox"><span class="pi-caption-icon pi-caption-scale icon-eye"></span></a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End photo gallery item -->
						
						<!-- Photo gallery item -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-img-hover-zoom">
								<img src="img_external/gallery/img-23.jpg" alt="">
								<div class="pi-img-overlay pi-img-overlay-dark">
									<div class="pi-caption-centered">
									<div>
										<a href="img_external/gallery/selecting-pencil.jpg" class="pi-colorbox"><span class="pi-caption-icon pi-caption-scale icon-eye"></span></a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End photo gallery item -->
						
						<!-- Photo gallery item -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-img-hover-zoom">
								<img src="img_external/gallery/img-24.jpg" alt="">
								<div class="pi-img-overlay pi-img-overlay-dark">
									<div class="pi-caption-centered">
									<div>
										<a href="img_external/gallery/selecting-pencil.jpg" class="pi-colorbox"><span class="pi-caption-icon pi-caption-scale icon-eye"></span></a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End photo gallery item -->
						
						<!-- Photo gallery item -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-img-hover-zoom">
								<img src="img_external/gallery/img-25.jpg" alt="">
								<div class="pi-img-overlay pi-img-overlay-dark">
									<div class="pi-caption-centered">
									<div>
										<a href="img_external/gallery/selecting-pencil.jpg" class="pi-colorbox"><span class="pi-caption-icon pi-caption-scale icon-eye"></span></a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End photo gallery item -->

					</div>
					<!-- End photo gallery -->
					
				</div>
				<!-- End tab content -->
				
				<!-- Tab content -->
				<div class="pi-tab-pane" id="clients">
				
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25 pi-has-bg">
						Clients
					</h3>
					
					<p>
						<span class="pi-dropcap">K</span>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur perspiciatis unde omnis iste natus error sit voluptatem accusantium.
					</p>
					
					<hr class="pi-divider-gap-20">
					
					<!-- Logos gallery -->
					<div class="pi-row pi-liquid-col-2xs-2 pi-liquid-col-lg-4 pi-gallery pi-gallery-small-margins">

						<!-- Logo -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Amazon">
								<a href="#">
								<span class="pi-img-border-double pi-img-opacity-50" style="background: #f6f9f9;">
									<img src="img_external/clients/amazon-2.png" alt="">
								</span>
								</a>
							</div>
						</div>
						<!-- End logo -->
						
						<!-- Logo -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Diesel">
								<a href="#">
								<span class="pi-img-border-double pi-img-opacity-50" style="background: #f6f9f9;">
									<img src="img_external/clients/diesel-2.png" alt="">
								</span>
								</a>
							</div>
						</div>
						<!-- End logo -->
						
						<!-- Logo -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Yahoo">
								<a href="#">
								<span class="pi-img-border-double pi-img-opacity-50" style="background: #f6f9f9;">
									<img src="img_external/clients/yahoo-2.png" alt="">
								</span>
								</a>
							</div>
						</div>
						<!-- End logo -->
						
						<!-- Logo -->
						<div class="pi-gallery-item">
							<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Cartier">
								<a href="#">
								<span class="pi-img-border-double pi-img-opacity-50" style="background: #f6f9f9;">
									<img src="img_external/clients/cartier-2.png" alt="">
								</span>
								</a>
							</div>
						</div>
						<!-- End logo -->
						
					</div>
					<!-- End logos gallery -->
					
					<hr class="pi-divider-gap-50">
					
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25 pi-has-bg">
						What They Say
					</h3>
					
					<!-- Testimonials -->
					<div class="pi-row">
						<div class="pi-col-sm-6">
						
							<!-- Testimonial -->
							<div class="pi-testimonial">
								<div class="pi-testimonial-content pi-border pi-round pi-shadow pi-testimonial-content-quotes">
									<p>Quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci!</p>
								</div>
								<div class="pi-testimonial-author pi-clearfix">
									
									<div>
										<span class="pi-testimonial-author-name"><strong>Carolin Daye</strong></span> <br>
										<span class="pi-testimonial-author-company">Brand Manager <a href="#">Company Inc.</a></span>
									</div>
								</div>
							</div>
							<hr class="pi-divider-gap-20">
							<!-- End testimonial -->
							
						</div>
						
						<div class="pi-col-sm-6">
							
							<!-- Testimonial -->
							<div class="pi-testimonial pi-testimonial-author-with-icon">
								<div class="pi-testimonial-content pi-border pi-round pi-shadow pi-testimonial-content-quotes">
									<p>Porro quisquam est qui dolorem ipsum dolor consectetur adipisci velit</p>
								</div>
								<div class="pi-testimonial-author pi-clearfix">
									<span class="pi-icon-man"></span>
									
									<div>
										<span class="pi-testimonial-author-name"><strong>Joseph Lenski</strong></span> <br>
										<span class="pi-testimonial-author-company">Managing Director <a href="#">Company Inc.</a></span>
									</div>
								</div>
							</div>
							<hr class="pi-divider-gap-20">
							<!-- End testimonial -->
							
						</div>
						
					</div>
					<!-- End testimonials -->
					
					<!-- Testimonials -->
					<div class="pi-row">
						<div class="pi-col-sm-6">
							
							<!-- Testimonial -->
							<div class="pi-testimonial pi-testimonial-author-with-icon">
								<div class="pi-testimonial-content pi-border pi-round pi-shadow pi-testimonial-content-quotes">
									<p>Dolorem ipsum quia dolor sit amet consectetur porro quisquam adipisci velit</p>
								</div>
								<div class="pi-testimonial-author pi-clearfix">
									<span class="pi-icon-woman"></span>
									
									<div>
										<span class="pi-testimonial-author-name"><strong>Kindra Hall</strong></span> <br> 
										<span class="pi-testimonial-author-company">Associate Director <a href="#">Company Inc.</a></span>
									</div>
								</div>
							</div>
							<hr class="pi-divider-gap-20">
							<!-- End testimonial -->
							
						</div>
						
						<div class="pi-col-sm-6">
							
							<!-- Testimonial -->
							<div class="pi-testimonial">
								<div class="pi-testimonial-content pi-border pi-round pi-shadow pi-testimonial-content-quotes">
									<p>Nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat</p>
								</div>
								<div class="pi-testimonial-author pi-clearfix">
									
									<div>
										<span class="pi-testimonial-author-name"><strong>Mattias Nuffer</strong></span> <br>
										<span class="pi-testimonial-author-company">Executive Director <a href="#">Company Inc.</a></span>
									</div>
								</div>
							</div>
							<hr class="pi-divider-gap-20">
							<!-- End testimonial -->
							
						</div>
						
					</div>
					<!-- End testimonials -->
		
				</div>
				<!-- End tab content -->
                
                <!-- Tab content -->
				<div class="pi-tab-pane" id="jobhistory">
				
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">
						Job History & Feedback
					</h3>
					
					<p>
						<span class="pi-dropcap">K</span>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur perspiciatis unde omnis iste natus error sit voluptatem accusantium.
					</p>
					
                    <div class="pi-responsive-table-sm">
			<table class="pi-table pi-table-complex pi-table-hovered pi-round pi-table-shadow pi-table-all-borders">
			
				<!-- Table head -->
				<thead>
				
					<!-- Table row -->
					<tr>
						<th style="width:200px;">
							Projects Name
						</th>
						<th>
							Clients Say
						</th>
						<th style="width:150px;">Rating</th>

					</tr>
					<!-- End table row -->
				
				</thead>
				<!-- End table head -->
				
				<!-- Table body -->
				<tbody>
				
					<!-- Table row -->
					<tr>
						
						<td>Professional CV Writer <i class="pr-date">Jul 2014 – Jul 2014</i></td>
						
						<td>
							Phoebe did an amazing job. I would definitely recommend her and do business with her again.
						</td>
						<td align="center"><b class="ret">4.65</b> <br/>
                        <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                        </td>
                        
					</tr>

					<tr>
						
						<td>Professional CV Writer <i class="pr-date">Jul 2014 – Jul 2014</i></td>
						
						<td>
							Phoebe did an amazing job. I would definitely recommend her and do business with her again.
						</td>
						<td align="center"><b class="ret">4.65</b> <br/>
                        <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                        </td>
                        
					</tr>
                    
                    <tr>
						
						<td>Professional CV Writer <i class="pr-date">Jul 2014 – Jul 2014</i></td>
						
						<td>
							Phoebe did an amazing job. I would definitely recommend her and do business with her again.
						</td>
						<td align="center"><b class="ret">4.65</b> <br/>
                        <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                        </td>
                        
					</tr>
                    
                    <tr>
						
						<td>Professional CV Writer <i class="pr-date">Jul 2014 – Jul 2014</i></td>
						
						<td>
							Phoebe did an amazing job. I would definitely recommend her and do business with her again.
						</td>
						<td align="center"><b class="ret">4.65</b> <br/>
                        <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                        </td>
                        
					</tr>
                    
                    <tr>
						
						<td>Professional CV Writer <i class="pr-date">Jul 2014 – Jul 2014</i></td>
						
						<td>
							Phoebe did an amazing job. I would definitely recommend her and do business with her again.
						</td>
						<td align="center"><b class="ret">4.65</b> <br/>
                        <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                        </td>
                        
					</tr>
				
				
				</tbody>
				<!-- End table body -->
				
			</table>
		</div>
					<hr class="pi-divider-gap-20">

		
				</div>
				<!-- End tab content -->
				<div class="pi-tab-pane" id="certification">
				
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">Certification</h3>
					
					<p>
						<span class="pi-dropcap">K</span>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur perspiciatis unde omnis iste natus error sit voluptatem accusantium.
					</p>
					
                    <div class="pi-responsive-table-sm"></div>
					<hr class="pi-divider-gap-20">

		
				</div>
                
                <div class="pi-tab-pane" id="education">
				
					<h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">Education</h3>
					
					<p>
						<span class="pi-dropcap">K</span>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur perspiciatis unde omnis iste natus error sit voluptatem accusantium.
					</p>
					
                    <div class="pi-responsive-table-sm"></div>
					<hr class="pi-divider-gap-20">

		
				</div>     

			</div>
		</div>
		<!-- End tabs -->
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-shadow-inside-top pi-section-base" style="background:#e6e6e6;">
	<div class="pi-texture" style="background: url(img/hexagon.png) repeat;"></div>
	<div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
		
		<p class="lead-30">
			<span class="pi-text-white" style="color:#232323!important;">Have a project with us? <span class="pi-weight-400" style="color:#59b900;">Feel free.</span></span>
			
			<a href="#" class="btn pi-btn-base-2 pi-btn-big" style="margin-left: 25px;">Post A Job !<i class="icon-paper-plane pi-icon-right"></i></a>
			
		</p>

	</div>
</div>
<!-- - - - - - - - - - END SECTION - - - - - - - - - --></div>

<!-- Footer -->
<!-- Widget area -->
<div class="pi-section-w pi-border-bottom pi-border-top-light pi-section-dark">
	<div class="pi-section pi-padding-bottom-10">

		<!-- Row -->
		<div class="pi-row">

			<!-- Col 4 -->
			<div class="pi-col-md-4 pi-padding-bottom-30">

				<h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
					<a href="#" class="pi-link-no-style">Latest Tweet</a>
				</h6>

				<!-- Twitter -->
				<div id="pi-footer-tweets">
                <ul class="pi-bullets-circle pi-bullets-base pi-bullets pi-list-big-margins">
                <li><span class="pi-bullet-icon">
                <i class="icon-twitter"></i></span><a href="" target="_blank" title="Carbon51 on Twitter">@Carbon51</a> Meet Aura 1.6 version. A lot of new things are coming soon. <br><span class="pi-smaller-text pi-italic pi-text-opacity-50">Jun. 29, 2014</span></li>
                <li><span class="pi-bullet-icon"><i class="icon-twitter"></i></span><a href="" target="_blank" title="Carbon51 on Twitter">@Carbon51</a> Hey, this is Carbon51 Twitter account! <br><span class="pi-smaller-text pi-italic pi-text-opacity-50">Jun. 29, 2014</span></li></ul></div>
				<!-- End twitter -->

			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-hidden-lg-only pi-hidden-md-only"></div>

			<!-- Col 4 -->
			<div class="pi-col-md-4 pi-col-sm-6 pi-padding-bottom-30" style="background-image: url('img/map-base.png'); background-position: 50% 55px; background-repeat: no-repeat;">

				<h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
					Contact Us
				</h6>

				<!-- Contact info -->
				<ul class="pi-list-with-icons pi-list-big-margins">

					<li>
						<span class="pi-bullet-icon"><i class="icon-location"></i></span>
						<strong>Address:</strong> 557 Cyan Avenue, Suite 65, <br>New York, CA 9008
					</li>

					<li>
						<span class="pi-bullet-icon"><i class="icon-phone"></i></span>
						<strong>Phone:</strong> (123) 456-7890
					</li>

					<li>
						<span class="pi-bullet-icon"><i class="icon-mail"></i></span>
						<strong>Email:</strong> <a href="mailto:hello@carbon51.com">hello@carbon51.com</a>
					</li>

					<li>
						<span class="pi-bullet-icon"><i class="icon-clock"></i></span>
						Monday - Friday: <strong>9:00 am - 10:00 pm</strong>
						<br>
						Saturday - Sunday: <strong>Closed</strong>
					</li>

				</ul>
				<!-- End contact info -->

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-md-4 pi-col-sm-6 pi-padding-bottom-30">

				<h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
					Say Hey
				</h6>

				<!-- Contact form -->
				<form role="form" action="handlers/formFooter.php" class="pi-footer-form">
					<div class="pi-error-container"></div>
					<div class="pi-row pi-grid-small-margins">
						<div class="pi-col-2xs-6">
							<div class="form-group">
								<div class="pi-input-with-icon">
									<div class="pi-input-icon"><i class="icon-user"></i></div>
									<input class="form-control form-control-name" id="exampleInputName"
										   placeholder="Name">
								</div>
							</div>
						</div>
						<div class="pi-col-2xs-6">
							<div class="form-group">
								<div class="pi-input-with-icon">
									<div class="pi-input-icon"><i class="icon-mail"></i></div>
									<input type="email" class="form-control form-control-email" id="exampleInputEmail"
										   placeholder="Email">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-pencil"></i></div>
							<textarea class="form-control form-control-comments" id="exampleInputMessage"
									  placeholder="Message"
									  rows="3"></textarea>
						</div>
					</div>
					<p>
						<button type="submit" class="btn pi-btn-base pi-btn-no-border">Send</button>
					</p>
				</form>
				<!-- End contact form -->

			</div>
			<!-- End col 4 -->

		</div>
		<!-- End row -->

	</div>
</div>
<!-- End widget area -->

<!-- Copyright area -->
<div class="pi-section-w pi-section-header-w pi-section-dark pi-border-top-light pi-border-bottom-strong-base pi-section-header-lg-w">
	<div class="pi-section pi-section-header pi-section-header-lg pi-center-text-2xs pi-clearfix">

		<!-- Social icons -->
		<div class="pi-header-block pi-pull-right pi-hidden-2xs">
			<ul class="pi-social-icons-simple pi-small clearFix">
				<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
				<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
				<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
				<li><a href="#" class="pi-social-icon-tumblr"><i class="icon-tumblr"></i></a></li>
				<li><a href="#" class="pi-social-icon-vimeo"><i class="icon-vimeo"></i></a></li>
				<li><a href="#" class="pi-social-icon-rss"><i class="icon-rss"></i></a></li>
			</ul>
		</div>
		<!-- End social icons -->

		<!-- Footer logo -->
		<div class="pi-header-block pi-header-block-logo pi-header-block-bordered"><a href="#"><img src="img/logo-opacity-dark.png" alt=""></a></div>
		<!-- End footer logo -->

		<!-- Text -->
		<span class="pi-header-block pi-header-block-txt pi-hidden-xs">&copy; 2014. &laquo;<a href="http://www.carbon51.com/" target="_blank" > Carbon51.com </a>&raquo;.
			All right reserved.
		</span>
		<!-- End text -->

	</div>
</div>
<!-- End copyright area -->
<!-- End footer -->

</div>
<div class="pi-scroll-top-arrow" data-scroll-to="0"></div>

<script src="3dParty/jquery-1.11.0.min.js"></script>
<script src="scripts/pi.easings.js"></script>
<script src="scripts/pi.helpers.js"></script>
<script src="scripts/pi.boundManager.js"></script>
<script src="3dParty/inview.js"></script>
<script src="scripts/pi.imagesLoader.js"></script>
<script src="scripts/pi.columnFix.js"></script>
<script src="scripts/pi.init.caption.js"></script>
<script src="scripts/pi.accordion.js"></script>
<script src="scripts/pi.detectTransition.js"></script>
<script src="scripts/pi.tooltip.js"></script>
<script src="scripts/pi.init.tooltip.js"></script>
<script src="3dParty/gauge.min.js"></script>
<script src="scripts/pi.counter.js"></script>
<script src="scripts/pi.init.counter.js"></script>
<script src="scripts/pi.tab.js"></script>
<script src="scripts/pi.init.tab.js"></script>
<script src="scripts/pi.parallax.js"></script>
<script src="scripts/pi.init.parallax.js"></script>
<script src="scripts/pi.init.social.js"></script>
<script src="scripts/pi.ddMenu.js"></script>
<script src="scripts/pi.init.removeLastElMargin.js"></script>
<script src="scripts/pi.fixedHeader.js"></script>
<script src="scripts/pi.mobileMenu.js"></script>
<script src="scripts/pi.init.submitFormFooter.js"></script>
<script src="scripts/pi.alert.js"></script>
<script src="scripts/pi.init.formsBlurClasses.js"></script>
<script src="scripts/pi.init.placeholder.js"></script>
<script src="3dParty/colorbox/jquery.colorbox-min.js"></script>
<script src="scripts/pi.init.colorbox.js"></script>
<script src="3dParty/jquery.easing.1.3.js"></script>
<script src="3dParty/jquery.scrollTo.min.js"></script>
<script src="scripts/pi.init.jqueryScrollTo.js"></script>
<script src="scripts/pi.scrollTopArrow.js"></script>
<script type="text/javascript" src="3dParty/jquery.selectbox-0.5.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#Items').selectbox();
		$('#Items2').selectbox();
	});
</script>
<script type="text/javascript">
	$(function() {
		var $menu = $('#ldd_menu');
		$menu.children('li').each(function(){
			var $this = $(this);
			var $span = $this.children('span');
			$span.data('width',$span.width());
			
			$this.bind('mouseenter',function(){
				$menu.find('.ldd_submenu').stop(true,true).hide();
				$span.stop().animate({'width':'auto'},300,function(){
					$this.find('.ldd_submenu').slideDown(300);
				});
			}).bind('mouseleave',function(){
				$this.find('.ldd_submenu').stop(true,true).slideUp();
				$span.stop().animate({'width':$span.data('width')+'px'},300);
			});
		});
	});
</script>
</body>
</html>